{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <!-- Search Bar -->
  <div class="search-bar">
      <input type="text" placeholder="Search">
  </div>

  <!-- Delivery Address -->
  <div class="delivery-address">
      <h5>Delivery Now</h5>
      <p>{{ delivery_address }} <span class="dropdown-toggle" data-toggle="dropdown"></span></p>
  </div>

  <!-- Categories -->
  <div class="category-section">
      {% for category in categories %}
          <a href="#" class="{% if forloop.first %}active{% endif %}">
              {% if category.icon %}
                  <img src="{{ category.icon.url }}" alt="{{ category.name }}" height="30">
              {% else %}
                  {{ category.name }}
              {% endif %}
          </a>
      {% endfor %}
  </div>

  <!-- res -->
  <!-- Restaurants -->
  <hr>
  <div class="restaurant-section">
      <h4 class="h2">Restaurants</h4>
      <hr>
      <div class="row m-auto justify-content-center">
        {% for restaurant in restaurants %}
        <div class="card col-2 m-3">
            {% if restaurant.logo %}
                <img src="{{ restaurant.logo.url }}" alt="{{ restaurant.name }}" class="card-img-top d-flex justify-content-center">
            {% else %}
                <img src="{% static 'media/logo_plain.png' %}" alt="{{ restaurant.name }}" class="card-img-top d-flex justify-content-center">
            {% endif %}
            
            <div class="card-body m-auto text-center">
                <h5 class="card-title">{{ restaurant.name }}</h5>
                <p class="card-text">{{ restaurant.category }}</p>
                <p class="card-text">{{ restaurant.phone }}</p>
                <a href="{% url 'restaurant_detail' restaurant.id %}" class="btn btn-primary bg-primary">View Restaurant</a>
            </div>
        </div>
        {% endfor %}
      </div>
  </div>

    <div class="m-3">&nbsp;</div>

  <!-- Food Items -->
  <div class="row m-auto justify-content-center">
    <h4>Food Items</h4>
    <hr>
    {% for food_item in food_items %}
    <div class="card col-2 m-3">
        <img src="{% static 'media/logo_plain.png' %}" alt="{{ food_item.name }}" class="card-img-top d-flex justify-content-center">
        <div class="card-body m-auto text-center">
            <h5 class="card-title">{{ food_item.name }}</h5>
            <p class="card-text">${{ food_item.price }}</p>
            <a href="{% url 'add_to_cart' food_item.id %}" class="btn btn-primary bg-primary">Add to Cart</a>
            <a href="{% url 'item_detail' food_item.id %}" class="btn btn-secondary">View Item</a>
        </div>
    </div>
    {% endfor %}
  </div>


  <a href="#" class="see-more">see more</a>
</div>
{% endblock %}
