{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="restaurant-header text-center">
        {% if restaurant.logo %}
            <img src="{{ restaurant.logo.url }}" alt="{{ restaurant.name }}" class="img-fluid">
        {% else %}
            <img src="{% static 'media/logo_plain.png' %}" alt="{{ restaurant.name }}" class="img-fluid">
        {% endif %}
        <h2>{{ restaurant.name }}</h2>
        <p>{{ restaurant.city }}, {{ restaurant.state }}</p>
    </div>

    
    <!-- All Other Items -->
    <h2>Other Items</h2>
    <div class="row">
        {% for item in category_items %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'media/logo_plain.png' %}" alt="{{ item.name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">${{ item.price }}</p>
                    <a href="{% url 'add_to_cart' item.id %}" class="btn btn-primary">Add to Cart</a>
                    <a href="{% url 'item_detail' item.id %}" class="btn btn-secondary">View Item</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
