{% extends 'base_old.html' %}
{% load static %}

{% block title %}UserSignup{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="top-block">
        <div class="logo">
            <img src="{% static 'media/Logo.png' %}" alt="Logo">
        </div>
    </div>
    <div class="block">
        <form class="login-form" method="post">
            {% csrf_token %}
            <h2>Sign-up</h2>
            <h6>Create an account to get started</h6>
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.as_p }}
            <div class="block">
                <input type="checkbox" id="agree" name="agree" required>
                <label for="agree">I've read and agree with the <a href="#">Terms and Conditions</a> and the <a href="#">Privacy Policy</a></label>
            </div>
            <button type="submit">Sign-up</button>
        </form>
        <p>Are a member? <a href="{% url 'userSignin' %}">Sign in</a></p>
    </div>
</div>
{% endblock %}
