{% extends 'base_old.html' %}
{% load static %}

{% block title %}userSignin{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="top-block">
        <div class="logo">
            <img src="{% static 'media/Logo.png' %}" alt="Logo">
        </div>
    </div>
    <div class="block">
        <form class="login-form" method="post" action="{% url 'userSignin' %}">
            {% csrf_token %}
            <h2>Sign-in</h2>
            {{ form.as_p }}
            <p><a href="#" style="color: darkorange;">Forgot password?</a></p>
            <button type="submit">Login</button>
        </form>
        <p>Not a member? <a href="{% url 'userSignup' %}">Register now</a></p>
    </div>
</div>
{% endblock %}
