body {
            background-color: #022933;
            color: #d20000;
        }
        .list-group{
            color: #969BB0;
        }
        .container {
            max-width: 600px;
        }