
{% extends 'Restbase.html' %}
{% load static %}

{% block title %}Restaurant Login{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid d-flex h-100 flex-column">
        <div class="row mb-3 flex-fill h-100 d-flex">
            <div class="col-md-6 d-flex mh=100">
                <div class="container">
                    <img class="img-fluid" src="{% static 'media/growbusiness.png' %}">
                    <br/>
                    <div class="row text-center fs-1" id="text"><b>Grow your business </b></div>
                    <div class="row text-center fs-1" id="text"><b>with FlavorFlow</b></div>
                    <div class="row text-center fs-1" id="cust"><a href="{% url 'userSignin' %}"><i><b> <span id="notR" style="font-size:12px; background-color: #004656; border-radius: 18px; padding:5px">Not a restaurant?</span></b></i></a></div>
                </div>
            </div>
            </br>
            <div class="col-md-4 d-flex h=100%" id="form">
                <div class="container form-container h-100">
                    <form class="form-with-validation" action="{% url 'rest_login' %}" method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <h3>Sign in</h3><br/>
                        <div class="mb-3">
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            {{ form.password }}
                        </div>
                        <div class="mb-3">
                            <input type="checkbox" name="remember" id="remember">
                            <label for="remember">Keep me logged in</label>
                        </div>
                        <div class="mb-3">
                            <button type="submit" value="Log in">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
