{% extends 'base.html' %}
{% load static %}
{% block title %}Check Out{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/checkoutPayment.css' %}">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-3 align-items-center">
        <div class="col-md-6">
            <img class="img-fluid logo-img" src="{% static 'media/Logo.png' %}">
            <div class="row text-center fs-1" id="text"><b>Check Out</b></div>
        </div>
        <div class="col-md-6">
            <form method="post" action="{% url 'checkoutOrder' %}">
                {% csrf_token %}
                <div class="form-section">
                    <h4 class="text-white">Delivery Location</h4>
                    {{ delivery_form.delivery_location }}
                </div>

                <div class="form-section">
                    <h4 class="text-white">Delivery Options</h4>
                    <div class="mb-3 text-white">
                        {% for radio in delivery_form.delivery_option %}
                            <div class="form-check">
                                {{ radio.tag }}
                                <label class="form-check-label" for="{{ radio.id_for_label }}">
                                    {{ radio.choice_label }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-section">
                    <h4 class="text-white">Payment Method</h4>
                    {{ payment_form.card_number}}
                    {{ payment_form.cvv }}
                    {{ payment_form.expiration_date }}
                </div>

                <button type="submit" class="btn btn-primary centered-button">Proceed To Payment</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
