{% extends 'base.html' %}
{% load static %}
{% block title %}Check Out{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/checkoutOrder.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-3 align-items-center">
        <div class="col-md-6">
            <img class="img-fluid logo-img" src="{% static 'media/Logo.png' %}">
            <div class="row text-center fs-1" id="text"><b>Check Out</b></div>
        </div>
        <div class="col-md-6">
            <form action="{% url 'orderTracking' %}" method="post">
                {% csrf_token %}
                <div class="card-container">
                    <div class="form-group">
                        <label for="promo-code" class="text-white " style="font-size: 1.5em;">Add Promo Code</label>
                        <input type="text" id="promo-code" name="promo" class="form-control" placeholder="Promo Code">
                    </div>
                    <p class="text-white" style="font-size: 1em;">Subtotal: <span class="value" style="float: right; clear: both; color: #ff6a00;">${{ cart_total|floatformat:2 }}</span></p>
                    <p class="text-white" style="font-size: 1em;">Delivery Fee: <span class="value" style="float: right; clear: both; color: #ff6a00;">${{ delivery_fee|floatformat:2 }}</span></p>
                    <p class="text-white" style="font-size: 1em;">Service Fee: <span class="value" style="float: right; clear: both; color: #ff6a00;">$2.60</span></p>
                    <p class="text-white" style="font-size: 1em;">Total: <span class="value" style="float: right; clear: both; color: #ff6a00;">${{ total_price|floatformat:2 }}</span></p>
                    <div class="center-container">
                        <button type="submit" class="btn btn-primary" >Next</button>
                    </div>

                    <p class="text-white">If you're not around when the delivery person arrives, they'll leave your order at the door. By placing your order, you agree to take full responsibility for it once it's delivered. Orders containing alcohol or other restricted items may not be eligible for leave at door and will be returned to the store if you are not available. Estimated pricing: We'll put a hold on your card for up to $29.59. If any changes are made to your order to account for things like replacements or the actual weight of items, they will be reflected in the final charge on your receipt.</p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
