{% load static %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class= "container-fluid">
        <a class="navbar-logo" href="#"><img src="{% static 'media/navbarlogo.png'%}" height="40"></a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-center align-items-center" href="#">
                    <img src="{% static 'media/getsupport.png'%}" height="14"><span>Get Support</span>
                </a>
            </li>
            {% if request.path == '/login/' or request.path == '/restSignup/' or '/%2Flogin/' in request.path %}<li>
                <a class="nav-link {% if request.path == '/login/' %}active{% endif %} d-flex justify-content-center align-items-center" href="{% url 'rest_login' %}">
                    <img src="{% static 'media/login.png' %}" height="14"><span>Login</span>
                </a>
            </li>
            <li>
                <a class="nav-link {% if request.path == '/restSignup/' %}active{% endif %} " href="{% url 'restSignup' %}"><span>Get Started</span></a>
            </li>
        {% endif %}
        {% if request.path == '/restdashboard' or request.path == '/restdashboard/orders' or request.path == '/restdashboard/menu' or request.path == '/restdashboard/performance'%}
        <li>
            <a class="nav-link" href="{% url 'logout' %}"><span style="background-color:#fc8042; border-radius: 18px; padding:8px">Sign out</span></a>
        </li>
        {% endif %}
        </ul>
    </div>
</nav>