{% load static %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/user_dashboard.css' %}">{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="d-flex justify-content-between container">
    <div class="">
      <a class="navbar-brand" href="#">
        <img src="{% static 'media/logo_plain.png' %}" alt="Flavour Flow Logo" height="30px">
      </a>
    </div>
    <div class="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-light">
          <a class="nav-link d-flex align-items-center" href="{% url 'restSignup' %}">Restaurant</a>
          <a class="nav-link d-flex align-items-center" href="{% url 'login' %}">Customer</a>
          <a class="nav-link d-flex align-items-center" href="#"></i>Driver</a>
        </div>
      </div>
    </div>
  </div>
</nav>