{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- not implemented -->
    <div class="container pt-5">
        <div class="alert alert-danger" role="alert">
            <b>Note: - </b>Not implemented Functionality!
          </div>
          
        <h1 class="h1 pb-5">Order Tracking</h1>
        <div class="d-flex justify-content-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3291.8428694003724!2d150.87526447636944!3d-34.40533957302607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b131971e23b2943%3A0x28106b564503fe41!2sUniversity%20of%20Wollongong!5e0!3m2!1sen!2sau!4v1717150886813!5m2!1sen!2sau" style="border:0; width: 100%; max-width: 100%;" allowfullscreen="true" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
{% endblock content %}