{% extends 'base.html' %}
{% load static %}
{% block title %}Subscription-Payment{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/payment.css' %}">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-6 d-flex mh=100">
            <div class="container">
                <img class="img-fluid logo-img" src="{% static 'media/Logo.png' %} ">
                <br/>
                <div class="row text-center fs-1" id="text"><b>Enter your Payment Details </b></div>
                <div class="row text-center fs-1" id="text"><b>to Get Started</b></div>

            </div>
        </div>
        </br>
        <div class="col-md-4 d-flex mh=100" id="form">
            <div class="container form-container">
                <form action="{% url 'home' %}" method="POST">{% csrf_token %}
                    <h3>Enter your Payment Details</h3><br/>
                    <div class="mb-3">
                        <input class="container-fluid" type="text" placeholder="Card Number">
                    </div>
                    <div class="mb-3">
                        <input class="container-fluid" type="text" placeholder="Expiration Date">
                    </div>
                    <div class="mb-3">
                        <input class="container-fluid" type="text" placeholder="CVV">
                    </div>

                    <div class="submit-row">
                        <button type="submit" class="btn btn-primary btn-block">
                            Pay
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{%  endblock %}