{% extends 'base.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class= "container-fluid">
            <a class="navbar-logo" href="#"><img src="{% static 'media/navbarlogo.png'%}" height="40"></a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link d-flex justify-content-center align-items-center" href="#">
                        <img src="{% static 'media/getsupport.png'%}" height="14"><span>Get Support</span>
                    </a>
                </li>
                <li>
                    <button class="nav-link" id="signout">
                        <span>Sign out</span>
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <div class="d-flex flex-column p-3 bg-light" style="width: 280px; min-height:93vh;">
        <span style="color:black"><b>All stores</b></span>
    <hr/>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page" id="activepage">
                    <img class="bi me-2" width="16" height="16" src="{% static 'media/home.png' %}">
                    <span style="color:black">Home</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <img class="bi me-2" width="16" height="16" src="{% static 'media/menu.png' %}">
                    Menu
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <img class="bi me-2" width="16" height="16" src="{% static 'media/orders.png' %}">
                    Orders
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <img class="bi me-2" width="16" height="16" src="{% static 'media/performance.png' %}">
                    Performance
                </a>
            </li>
        </ul>
        <hr/>
        <div class="settings" style="position:absolute;bottom:0">
            <img width="18" height="18" src="{% static 'media/setting.png' %}">
        </div>
    </div>

{% endblock %}
